/* Form Styles Reset */

input, label, select, button, textarea {
    margin: 0;
    border: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    background: none;
    line-height: 1;
    font-size: inherit;
    font-family: inherit;
}

input:focus {
    outline: 0;
}

input, textarea, button, select {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input[type="checkbox"], input[type="radio"] {
    width: 13px;
    height: 13px;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
}

::-webkit-search-decoration {
    display: none;
}

button, input[type="reset"], input[type="button"], input[type="submit"] {
    overflow: visible;
    width: auto;
}

::-webkit-file-upload-button {
    padding: 0;
    border: 0;
    background: none;
}

textarea {
    vertical-align: top;
    overflow: auto;
}

select[multiple] {
    vertical-align: top;
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: darkgrey;
}

body, #wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
    max-width: 100%;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
}

.introduction {
    background-color: gray;
    height: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.introduction img {
    border-radius: 100%;
}
.intro_text {
    flex-direction: column;
    margin-left: 1vw;
}
.intro_text h1, .intro_text h4 {
    font-weight: lighter;
}

header {
    width: 100%;
    text-align: center;
    background-color: #333;
    color: white;
}

.nav_item {
    list-style: none;
    font-size: 0;
}

.nav_item ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_item li {
    min-width: 80px;
    width: 15%;
    margin: 1.5% 0 1%;
    text-align: center;
    display: inline-block;
    font-size: 1vw;
}

.nav_item li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.navi_ico img {
    height: 3vw;
    border-radius: 100%;
}

.top_section {
    background-color: darkgrey;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
}
.top_section img {
    width: 30vw;
    border-radius: 5%;
    margin: 5vw;
}
.top_content1,.top_content2,.top_content3,.top_content4 {
    position: relative;
}
.top_section p {
    position: absolute;
    color: white;
    position: absolute;
    font-size: 3vw;
}
.top_content1 p {
    top: 43%;
    left: 35%;
}
.top_content2 p {
    top: 43%;
    left: 33%;
}
.top_content3 p {
    top: 43%;
    left: 38%;
}
.top_content4 p {
    top: 43%;
    left: 40%;
}

.content1_section {
    background-color: teal;
    height: auto;
}
.content2_section {
    background-color: khaki;
    height: auto;
}
.content3_section {
    background-color: salmon;
    height: auto;
}
.content4_section {
    background-color: darkgoldenrod;
    height: auto;
}
.right, .left {
    display: flex;
    justify-content: center;
    align-items: center;
}
.right img, .left img {
    width: 40vw;
    border-radius: 5%;
}
.left {
    margin: 10vw 0 10vw 10vw;
}
.right {
    margin: 10vw 10vw 10vw 0;
}
.exp_text {
    flex-direction: column;
    margin-left: 10vw;
    margin-right: 10vw;
    width: 300px;
}